@{
    ViewData["Title"] = "Our Story";
}

<div class="card mb-3">
    <img src="/ourStory/writer.jpg" class="card-img-top" alt="photo" height="300" width="400">
    <div class="card-body">
        <h5 class="card-title">Lorem</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero dolor, ornare auctor lobortis at, facilisis sit amet dolor. Suspendisse volutpat mattis dapibus. Mauris quam nisi, vestibulum et sagittis eu, interdum quis nisl. Sed diam libero, posuere sed venenatis non, dignissim vitae leo. Fusce risus mi, faucibus sed adipiscing vitae, sodales a justo. Aenean molestie pellentesque adipiscing. Ut turpis nisi, hendrerit sed elementum adipiscing, tempus at magna. Proin tempor orci quis elit volutpat consectetur.Donec dictum lectus nec est sodales porta. Ut semper eros eget tortor iaculis pellentesque id porttitor urna. Fusce eu arcu nulla, quis porta arcu. Ut feugiat eros vitae eros aliquam id varius arcu porttitor. In diam sapien, congue ornare aliquet a, tincidunt non tortor. Nam ac facilisis nisi. Mauris vitae magna vitae neque eleifend congue. Aliquam erat volutpat. Phasellus pellentesque ligula sit amet est convallis id tristique turpis condimentum.

            Pellentesque id sapien non leo tincidunt ullamcorper. Donec venenatis porta augue vitae condimentum. Nulla vitae elit at nisi vehicula hendrerit at ut est. Suspendisse potenti. Aliquam egestas, ante in hendrerit porta, tellus nisi pellentesque metus, at interdum elit mauris ut urna. Fusce sodales lobortis orci, a mattis ante molestie nec. In hac habitasse platea dictumst.

            Nullam tellus est, vestibulum posuere euismod nec, consectetur sed ipsum. Nullam nulla purus, mollis sit amet gravida non, malesuada vitae sem. Duis in neque ipsum, a vulputate lorem. Morbi at leo orci. Nulla commodo justo et dolor vestibulum rutrum commodo ante laoreet. Quisque sed commodo risus. Donec ac viverra tellus. Sed risus tellus, interdum non posuere pulvinar, convallis a nunc. Duis commodo scelerisque congue. Donec vitae erat lacus. Proin sit amet orci mauris, vitae pellentesque dolor. Suspendisse nec nisi id turpis volutpat malesuada vitae porta nisi. Quisque turpis nibh, gravida sed vulputate non, commodo sit amet mauris. Donec sed felis lectus, nec cursus metus. Aenean in erat id eros dignissim tempus vitae vel est. Vestibulum lacus metus, venenatis eu porttitor at, volutpat eget lectus.

            Nunc eget sapien eu ligula sollicitudin ornare non vitae lacus. Curabitur feugiat laoreet felis a eleifend. Vestibulum sit amet odio dui. Ut id mauris convallis neque condimentum hendrerit. Proin eget condimentum felis. Quisque mollis orci id neque commodo venenatis. Pellentesque egestas eros ut sem elementum condimentum. Etiam a volutpat tortor. Sed rhoncus sagittis dui vel gravida. Duis ullamcorper egestas sem a auctor. Nunc eget placerat mi. Phasellus libero tortor, tempor id viverra et, elementum nec ligula. Morbi scelerisque, est et posuere iaculis, lorem quam posuere dui, at faucibus turpis tellus sed ante.
        </p>
    </div>
</div>
<img src="/ourStory/write.jpg" class="card-img-top" alt="photo" height="200" width="400">
<div class="card">
    <div class="card-body"><p class="text-end">
    Suspendisse nec nisi id turpis volutpat malesuada vitae porta nisi. Quisque turpis nibh, gravida sed vulputate non, commodo sit amet mauris. Donec sed felis lectus, nec cursus metus. Aenean in erat id eros dignissim tempus vitae vel est. Vestibulum lacus metus, venenatis eu porttitor at, volutpat eget lectus.

    Nunc eget sapien eu ligula sollicitudin ornare non vitae lacus. Curabitur feugiat laoreet felis a eleifend. Vestibulum sit amet odio dui. Ut id mauris convallis neque condimentum hendrerit. Proin eget condimentum felis. Quisque mollis orci id neque commodo venenatis. Pellentesque egestas eros ut sem elementum condimentum. Etiam a volutpat tortor. Sed rhoncus sagittis dui vel gravida. Duis ullamcorper egestas sem a auctor. Nunc eget placerat mi. Phasellus libero tortor, tempor id viverra et, elementum nec ligula. Morbi scelerisque, est et posuere iaculis, lorem quam posuere dui, at faucibus turpis tellus sed ante.
</p>

    </div>
</div>

